- content_for :nav_path do
  %ol.breadcrumb
    %li
      =link_to "Home", root_path
    %li
      =link_to "All Honorifics", honorifics_path
    %li
      =link_to "Honorific", honorific_path(@honorific)
    %li
      =link_to "Edit Honorific", edit_honorific_path(@honorific)

%div.panel.panel-info
  %div.panel-heading
    ="Editing  Honorific"
  %div.panel-body
    %div.col-md-8
      = render 'form'
    %div.col-md-4
= link_to 'Show', honorific_path(@honorific)
= link_to 'Back', honorifics_path
