%div.col-md-6.col-md-offset-4
  =link_to "Manage Members", members_path 
  %br
  =link_to "Manage Designations", designations_path 
  %br
  =link_to "Manage Election Types", election_types_path 
  %br
  =link_to "Manage Posts", posts_path 
  %br
  =link_to "Manage Elections", elections_path

  %br
  =link_to "Manage States", states_path

  %br
  =link_to "Manage Honorific", honorifics_path

  %br
  =link_to "Manage Nominations", nominations_path
        