

%div.panel.panel-info
  %div.panel-heading
    ="Upload your signed Nomination Form"
  %div.panel-body
    %div.col-md-12{:style=>"background-color:white"}


      =form_for :nomination_attachment do |f|
        %div.row
          %div.form-group.label-static
            =f.label :registration_no,:class=>'control-label'
            =f.text_field :registration_no,{:class=>'form-control',:id=>'registration_no'}

        -if @nomination and @nomination.try(:nomination_attachment).nil?
          %div
            =f.label :attachment,:class=>'control-label'
            =f.file_field :attachment
          %div.row
            %div.form-group
              =f.submit :class=>'btn btn-default', :value=> 'Upload',data: { confirm: "Are you sure to submit the form. data once submitted can't be changed." }
        
        -elsif @nomination and !@nomination.try(:nomination_attachment).nil?  
          %div
            = link_to "View Form", @nomination
          %div
            %h3
              Scanned PDF is already Uploaded.
          %div
            =link_to "Download Uploaded Scanned PDF Form", @nomination.nomination_attachment.attachment.url



      %br
