- content_for :nav_path do
  %ol.breadcrumb
    %li
      =link_to "Home", root_path
    %li
      =link_to "All Posts", posts_path
    %li
      =link_to "New Post", new_post_path(@post)


%div.panel.panel-info
  %div.panel-heading
    ="New  Post"
  %div.panel-body
    %div.col-md-8
      = render 'form'
    %div.col-md-4

= link_to 'Back', posts_path

