- content_for :nav_path do
  %ol.breadcrumb
    %li
      =link_to "Home", root_path
    %li
      =link_to "All Members", members_path
    %li
      =link_to "New Member", new_member_path(@member)

%div.panel.panel-info
  %div.panel-heading
    ="New  Member"
  %div.panel-body
    %div.col-md-8
      = render 'form'
    %div.col-md-4

= link_to 'Back', members_path

